<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" backupGlobals="false"
         backupStaticAttributes="false" bootstrap="vendor/autoload.php" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true"
         convertWarningsToExceptions="true" processIsolation="false" stopOnFailure="false">
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./src/Models</directory>
        </include>
        <report>
            <html outputDirectory="coverage" lowUpperBound="35" highLowerBound="70" />
        </report>
    </coverage>
    <testsuites>
        <testsuite name="Package test suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="ENCRYPTION_KEY" value="secret16charlong" />
        <env name="FAKER_LOCALE" value="en_US" />
    </php>
</phpunit>
